body {
    background-color: lightblue;
    font-family: 'Fira Sans', sans-serif;
}
ul {
    list-style-type:none;
}
.wrapper {
    margin-right: auto; 
    margin-left: auto; 
    max-width: 1080px;
    text-align:center;
}
#collage {
    width: 750px;
}
.list {
    width:350px;
    border-radius:12px;
}
a {
    text-decoration: none;
    color: darkorange;
}
a:hover{
    color:white;
}
textarea {
    border-radius:10px;
}
footer {
    font-family: 'Mansalva', cursive;
}