
@{

}

<h2>Add you favorite recipe</h2>

<img class="list" src="~/Pictures/burger.jpg" />
<form asp-action="AddRecipe" method="post">
    @await Html.PartialAsync("RecipeForm")
    <br /><button type="submit">Send!</button>
</form>