
@{

}

<h2 class="test">Welcome to the Best Recipes</h2>
<img id="collage" src="~/Pictures/recipes.jpg" />

<ul>
    <li><h3><a asp-action="RecipeList">Recipe List</a> </h3></li>
    <li><h3><a asp-action="AddRecipe">Add new Recipe</a></h3> </li>
    <li><h3><a asp-action="ReviewRecipe">Review Recipe</a> </h3></li>
</ul>
