
@{

}

    <h2>Home of best Recipes</h2>
    <ul>
        <li><a asp-action="RecipeList">Recipe List</a> </li>
        <li><a asp-action="AddRecipe">Add new Recipe</a> </li>
        <li><a asp-action="ReviewRecipe">Review Recipe</a> </li>
    </ul>
