
@{

}

<h2>List of best Recipes</h2>
<img class="list" src="~/Pictures/chiken.png" />
<a asp-action="ViewRecipe"><h3>Awesome Chicken</h3></a>
<p>Baked chicken with incredible sauce</p>
<img class="list" src="~/Pictures/salmon.jpg" />
<a asp-action="ViewRecipe"><h3>Crispy Salmon</h3></a>
<p>Baked salmon with rice and garlic sauce</p>
<img class="list" src="~/Pictures/tacos.jpg" />
<a asp-action="ViewRecipe"><h3>Hot Tacos</h3></a>
    <p>Tacos with unique ingredients</p>
