@model IEnumerable<asgn2.Models.Recipes>


@{

}

<h2>List of best Recipes</h2>

@foreach (var r in Model)
{
<div>
    <h3>@r.Name</h3>
    <a asp-action="ViewRecipe" asp-controller="Home" asp-route-id="@r.RecipeID">View Details</a>
    <h5>@r.Ingredients.</h5>
</div>
}