<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/BasicCSS.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header> <h4><a asp-action="Index">Home</a></h4></header>
    <div class="wrapper">
        @RenderBody()
        <footer>Andrey Fr. Assignment 01 for ASP.NET MVC</footer>
    </div>
    <script src="~/app.js"></script>
</body>
</html>
