<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/BasicCSS.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3>Andrey Fr's assignment</h3>
    <div class="wrapper">
        @RenderBody()
    </div>
</body>
</html>
