@model asgn2.Models.Recipes

@{


}
<label asp-for="Name">Name:</label><br />
<input asp-for="Name" />
<br />
<label asp-for="RecipeCategory">If applicable</label><br />
<select asp-for="RecipeCategory">
    <option value="">Choose category</option>
    <option value="1">Fish</option>
    <option value="2">Beef</option>
    <option value="3">Chicken</option>
</select>
<br /><br />
<label asp-for="Ingredients">Ingredients: </label><br />
<textarea rows="3" cols="90" asp-for="Ingredients"></textarea>

<br />
<label asp-for="Description">Description: </label><br />
<textarea rows="7" cols="90" asp-for="Description"></textarea>

<br />

