@model asgn2.Models.Recipes


<label asp-for="Name">Name:</label><br />
<input asp-for="Name" />

<br /><br />
<label asp-for="Ingredients">Ingredients: </label><br />
<textarea rows="3" cols="90" asp-for="Ingredients"></textarea>

<br />
<label asp-for="Description">Ingredients: </label><br />
<textarea rows="7" cols="90" asp-for="Description" ></textarea>

